# Dependencies
node_modules/

# Test reports & Coverage
coverage/
test-report/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & OS files
.env
.env.local
.DS_Store
Thumbs.db
